body{
  margin: 0px;
  text-align: center;
  line-height: 60px;
  background: #f0f0ed;
}

.header{
  margin-top: 0px;
  height: 80px;
  width: auto;
  background: #329ba8;
  border: 2px solid #329ba8;
}
@media screen and (max-width: 480px){
  .header{
    height: 70px;
  }
}

.logo{
  color: white;
  font-size: 40px;
  font-family: "Avenir Next";
  float: left;
  margin-top: 0px;
  margin-left: 40px;
  width: 280px;
  padding: 10px;
  margin-top: 5px;
}

.menuitems{
  font-family: monospace;
  font-size: 15px;
  color: black;
  margin-top: -17px;
  list-style: none;
  float: left;
  height: 83px;
  width: 180px;
  background-position: 100% 0;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    white 0%,
    white 50%,
    #329ba8 50%,
    #329ba8 100%
  );
  transition: background-position ease 0.4s;
}
@media screen and (max-width: 480px){
  .menuitems{
    font-size: 11px;
    margin: 0px;
    width: 75px;
    line-height: 18px;
    height: 60px;

  }
}

.menuitems:hover {
  background-position: 0 0;
}

.menulinks{
  color: white;
  text-decoration: none;
}

.main{
  height: auto;
  font-size: 24px;
  font-family: "Times new roman";
  width: 900px;
  padding: 70px;
  margin-left: 190px;
  margin-top: 70px;
  background: white;
  border-radius: 10px;
  border-top: 3px solid black;
}
@media screen and (max-width: 480px){
  .main{
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
}

.headingtitle{
  color: black;
  background: white;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  margin-top: 0px;
}
@media screen and (max-width: 480px){
  .headingtitle{
    line-height: 40px;
    font-size: 35px;
    width: auto;
    padding: 0px;
    margin: 0px;
    padding-top: 35px;

  }
}

.title1{
  font-size: 60px;
  background: linear-gradient(transparent 40%, skyblue 60%);
}
@media screen and (max-width: 480px){
  .title1{
    font-size: 45px;
  }
}

.footer{
  height: 220px;
  width: auto;
  background: black;
}
@media screen and (max-width: 480px){
  .footer{
    width: auto;
  }
}

.blogname2{
  text-align: center;
  color: white;
  font-size: 45px;
  padding-top: 50px;
}
@media screen and (max-width: 480px){
  .blogname2{
    font-size: 30px;
  }
}
